.dashboard-title {
	text-align:center
}

.graph-div {
	width: 60%;
	display: inline-block;
}

.calculator-div {
	display: inline-block;
    position: absolute;
}

.convertions-val h1 {
	display: inline-block;
    margin-left: 20%
}